.dialog {
    background-color: var(--bg-primary);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    left: 50%;
    min-width: 50vw;
    padding: 24px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    &-backdrop {
        background-color: rgba(0, 0, 0, 0.8);
        bottom: 0;
        content: "";
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;
    }

    &__close {
        border-radius: 10px;
        border: 1px solid grey;
        color: grey;
        cursor: pointer;
        padding: 8px 12px;
        position: absolute;
        right: 8px;
        top: 8px;
        user-select: none;

        &:hover {
            color: white;
            border-color: white;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 0;
    }

    &__buttons {
        display: flex;
        gap: 12px;
        margin-top: auto;
    }
}
