.hid-devices {
    overflow-y: auto;
    height: 100%;

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        border-bottom: 1px solid grey;
        cursor: pointer;
        padding: 8px;

        &:hover {
            background-color: var(--bg-hover);
        }

        &:active,
        &--selected {
            background-color: var(--bg-active);
        }
    }

    &__item-usages {
        padding: 8px 0;
    }

    &__item-usage {
        & + & {
            padding: 8px 0 0 0;
        }
    }
}
