.rules {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    overflow: hidden;
    padding: 12px;
    width: 300px;

    &__title {
        margin-left: 12px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        overflow-y: auto;
    }

    &__item {
        align-items: center;
        border-radius: 4px;
        border: 1px solid transparent;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        padding: 12px;
        width: 100%;

        &:hover {
            background-color: var(--bg-hover);
        }

        &.selected {
            background-color: var(--primary-bg);
            border: 1px solid var(--primary-bg-border);
            color: var(--text-light-1);

            &:hover {
                background-color: var(--primary-bg);
            }
        }
    }
}
