@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype-variations");
    font-style: normal;
    font-weight: 300 400 500 700;
    font-stretch: 75% 125%;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("/assets/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf")
        format("truetype-variations");
    font-style: italic;
    font-weight: 300 400 500 700;
    font-stretch: 75% 125%;
    font-display: swap;
}
