@use "./fonts.scss";

@use "@picocss/pico/scss/pico" with (
    $theme-color: "amber"
);

// Components
@use "./components/hid_devices";

:root {
    --pico-font-family-sans-serif:
        "Roboto", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
}
