@use "./fonts.scss";

@use "@picocss/pico/scss/pico" with (
    $theme-color: "amber"
);

// Components
@use "./components/hid_devices";

body {
    font-family:
        "Roboto",
        system-ui,
        -apple-system,
        "Segoe UI",
        Arial,
        sans-serif;
    margin: 20px;
}
